{% extends 'core/base.html' %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4" style="width: 300px;">
        <h1 class="text-center">Iniciar sesión</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
